.home {
  color: #4b4f53;
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: calc(100vh - 100px);
  padding: 5%;

  &--header {
    margin-bottom: 20px;

    h1 {
      margin-bottom: 20px;
    }
  }

  &--pets-container {
    display: flex;
    flex-direction: column;
  }
  &--pets {
    height: 150px;
    width: 100%;
  }
  .dog {
    margin-bottom: 30px;
  }

  .cat {
    //  background-color: pink;
  }
}

@media only screen and (min-width: 768px) {
  .home {
    justify-content: space-around;
    align-content: center;
    &--header {
      padding: 2%;

      h1 {
        margin-bottom: 30px;
      }
    }

    &--pets-container {
      //  background-color: salmon;
      flex-direction: row;
    }
    &--pets {
      height: 200px;
      width: 100%;
    }
  }
}

@media only screen and (min-width: 1020) {
  .home {
    &--pets {
      max-height: 400px;
      width: 100%;
    }
  }
}
